<?xml version="1.0"?>

<launch>

  <arg name="first_dp3"  default="dp3_0"/>
  <arg name="second_dp3" default="dp3_1"/>
  <arg name="third_dp3"  default="dp3_2"/>

  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <arg name="dp_no" default="dp3_0"/>

  <param name="/use_sim_time" value="true"/>


  <!--include file="$(find hector_mapping)/launch/mapping_default.launch"-->

  <group ns = "$(arg first_dp3)">

    <include file="/home/dpoom/ros/src/launch/my_hector_map_0.launch">
    </include>
  </group>


  <group ns = "$(arg second_dp3)">

    <include file="/home/dpoom/ros/src/launch/my_hector_map_1.launch">
    </include>
  </group>

  <group ns = "$(arg third_dp3)">

    <include file="/home/dpoom/ros/src/launch/my_hector_map_2.launch">
    </include>
  </group>

</launch>
